# IDEs and OS specific files
.vscode/           # Visual Studio Code specific settings
.idea/             # PhpStorm/IntelliJ IDEA specific settings
.DS_Store          # macOS specific file
Thumbs.db          # Windows specific thumbnail cache

# Composer dependencies 
/vendor/

# Logs and temporary files
*.log
/logs/             
/tmp/              
/cache/            
*.tmp

# User uploads 
/assets/uploads/
